In [5]:
# Data Frames

In [6]:
import pandas as pd 
import numpy as np

In [7]:
cars_cap = [922,2345,5,213,243,25,1235]
country = ['US', 'Aus', 'Jap', 'Ind', 'Rus', 'Mor', 'Egy']

In [9]:
cars_dict = {"cars_per_cap" : cars_cap, "Country" : country}
cars = pd.DataFrame(cars_dict)
cars

   cars_per_cap Country
0           922      US
1          2345     Aus
2             5     Jap
3           213     Ind
4           243     Rus
5            25     Mor
6          1235     Egy

In [ ]:
# pd.read_csv(filepath, sep=',', header='infer')
# You can specify the following details:

# 1. separator (by default ‘,’)
# 2. header (takes the top row by default, if not specified)
# 3. names (list of column name)

In [13]:
sales = pd.read_excel("sales.xlsx", index_col = 1)
sales.head() # head function to see first 5 rows

                 Market  No_of_Orders    Profit     Sales
Region
Western Africa   Africa           251 -12901.51  78476.06
Southern Africa  Africa            85  11768.58  51319.50
North Africa     Africa           182  21643.08  86698.89
Eastern Africa   Africa           110   8013.04  44182.60
Central Africa   Africa           103  15606.30  61689.99

In [14]:
sales.tail() # tail function to see last 5 rows

            Market  No_of_Orders    Profit      Sales
Region
Western US    USCA           490  44303.65  251991.83
Southern US   USCA           255  19991.83  148771.91
Eastern US    USCA           443  47462.04  264973.98
Central US    USCA           356  33697.43  170416.31
Canada        USCA            49   7246.62   26298.81

In [15]:
sales.info() # gives us the info/detail about the sales file

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, Western Africa to Canada
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Market        23 non-null     object
 1   No_of_Orders  23 non-null     int64
 2   Profit        23 non-null     float64
 3   Sales         23 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 920.0+ bytes