In [1]:
#Accessing the inout from user 
name = input("Enter your name : ")
print("welcome" , name)

welcome sandeep

In [2]:
#type
type("sdfjhdfkj")

str

In [3]:
#type
type(20.4134)

float

In [4]:
#typecasting
x = 2
print( float(x) )
print (type(x))

2.0
<class 'int'>

In [5]:
#Calculation 
x = 4%(1+ 9)**2 - 60//(7+2)
print(x)

-2

In [6]:
#Accessing from the string
string = "Sadness"
string[2]
#(-1) is the last postion of the string hence it is (s)
string[-3]

'e'

In [7]:
#Slicing {format == string[start:end:step]}
statement = "Python programming is fun"
sliced = statement[0:7]
print(sliced)

sliced1 = statement[7:]
print(sliced1)

Python
programming is fun

In [8]:
#Membership = to check the given value in the string 
string = "hello World how are you"
print('hello' in string)

print('david' in string)

True
False

In [9]:
#Anonymous/Lambda functions
double = lambda x : x*2 
print(double(5))

double = lambda y : y*(y-1) 
print(double(5))

10
20

In [10]:
#Math functions

import math as m

print(m.pi)
print(m.cos(m.pi))
print(m.exp(10))
print(m.log10(1000))
print(m.sinh(1))
print(m.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

In [11]:
#Lists & Methods (these are muttables)
languages = ["python", "Java" , "C", "Kotlin"]
print(languages[:4])

languages[2] = "Html"
print(languages[:4])

print("Java" in languages)

languages.append("PHP")
print(languages)

languages.insert(2,"C#")
print(languages)

languages.remove("Kotlin")
print(languages)

['python', 'Java', 'C', 'Kotlin']
['python', 'Java', 'Html', 'Kotlin']
True
['python', 'Java', 'Html', 'Kotlin', 'PHP']
['python', 'Java', 'C#', 'Html', 'Kotlin', 'PHP']
['python', 'Java', 'C#', 'Html', 'PHP']

In [12]:
#tuples (these are immutable)
number = (21,3,521,23)
print(number)

(21, 3, 521, 23)

In [13]:
#Sets 
animals = {"dogs", "cats", "tiger", "elepant"}
print(animals) 

#Empty set 
animal = set()
print(animal)

#Adding element in set 
animals.add("monkey")
print(animals) 

#Merging sets 
wild_animals = {"tiger", "leopard", "monkey"}
animals.update(wild_animals)
print(animals) 

#Set Operations 
union = animals.union(wild_animals)
print(union)

inter = animals.intersection(wild_animals)
print(inter)

{'cats', 'elepant', 'tiger', 'dogs'}
set()
{'monkey', 'cats', 'tiger', 'dogs', 'elepant'}
{'monkey', 'cats', 'tiger', 'dogs', 'leopard', 'elepant'}
{'monkey', 'cats', 'tiger', 'dogs', 'leopard', 'elepant'}
{'leopard', 'tiger', 'monkey'}

In [14]:
#dictonaries (Associative Arrays) & methods 
person1 = {"name": "Linus", "age" : 21}
print(person1)

print(person1["name"])

person1["name"] = "Dennis"
print(person1)

person1["hobbies"] = ["dancing", "fishing"]
print(person1)

person1.pop("name")
print(person1)

{'name': 'Linus', 'age': 21}
Linus
{'name': 'Dennis', 'age': 21}
{'name': 'Dennis', 'age': 21, 'hobbies': ['dancing', 'fishing']}
{'age': 21, 'hobbies': ['dancing', 'fishing']}

In [15]:
#Sorted and Sort 
A = ["orange", "strawberry", "mango"]
B = A.sort()
C = sorted(A)
print(A)
print(B)
print(A)

['mango', 'orange', 'strawberry']
None
['mango', 'orange', 'strawberry']

In [16]:
#File I/O

f = open("test.txt")    # open file in current directory
f = open("C:/Python38/README.txt")  # specifying full path

#Reading / writing / creating 

f = open("test.txt")      # equivalent to 'r' or 'rt'
f = open("test.txt",'w')  # write in text mode
f = open("img.bmp",'r+b') # read and write in binary mode

#Types of closing a file 

#1st method
f.close() 

#2nd method
try:
   f = open("test.txt", encoding = 'utf-8')
   # perform file operations
finally:
   f.close()

#3rd method

with open("test.txt", encoding = 'utf-8') as f:
   # perform file operations

#writing
    f.write()

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [ ]:
#directories 

import os #os library 

current_dir = os.getcwd()
print(current_dir) #gets the current directory 

os.chdir() # changes the directory

print(os.listdir()) # print all the directories / folders 

os.mkdir("test") # creates a new directory 

os.rename("test", "test-new") # renames a directory 

os.remove("test-new") # removes a folder

os.rmdir("test.dir") # removes a directory

In [ ]:
#Classes and instances 

# Manual Assigning 
class Employee:
    pass 

emp_1 = Employee()
emp_2 = Employee()

emp_1.first = "Corey"
emp_1.last = "Carter"
emp_1.pay = 50000
emp_1.email = emp_1.first + "." + emp_1.last + "@company.com" 

emp_2.first = "sandeep"
emp_2.last = "sarma"
emp_2.pay = 80000
emp_2.email = emp_2.first + "." + emp_2.last + "@company.com" 

print(emp_1.email)
print(emp_2.email)

#Automatic Assigning using __init__ method or (constructor method)

class Student:

    def __init__(self, first, last, pay):
        self.first = first 
        self.last = last 
        self.pay = pay
        self.email = first + "." + last + "@company.com" 

Stu_1 = Student("Sandeep", "Sarma", 60000)
Stu_2 = Student("Corey", "Schafer", 50000)

print(Stu_1.email)
print(Stu_2.email)
print("{} {}".format(emp_1.first,emp_1.last))

Corey.Carter@company.com
sandeep.sarma@company.com
Sandeep.Sarma@company.com
Corey.Schafer@company.com
Corey Carter

In [ ]:
#Object-Oriented-Programming 

#Example 1
class Something:
    def out(self):
        print("it works")

s = Something()
s.out()

#Example 2 
class Parrot: 
    species = "bird"

    def __init__(self, name, age):  #initializer method
        self.name = name 
        self.age = age 

blue = Parrot("blue", 10)
black = Parrot("blacky", 12)

print("blue is a {}".format(blue.__class__.species))

#Inheritance 

class Bird: #parent class
    def __init__(self):
        print("Bird is ready")
    def whoisThis(self):
        print("Bird")

class Penguin(Bird): #child class
    def __init__(self):
        super().__init__()
        print("Penguin is ready")
    def whoisThis(self):
        print("Penguin")

peggy = Penguin()
peggy.whoisThis()

#Encapsulation 

class Computer: 
    pass

it works
blue is a bird
Bird is ready
Penguin is ready
Penguin

In [30]:
dict_1 = {'Python':40 , 'R':45}

print(list(dict_1.keys()))

['Python', 'R']

In [7]:
#List Comprehensions 

l1 = ["Autommobiles", "Honda","Benz", "Suzuki", "BMW"]

#Creating a list of Length of each element from the above list. 

#using normal method
l2 = []
for i in l1:
    l2.append(len(l1)) 

l2
#using Comprehensions
l2 = [len(i) for i in l1]
print(l2)

#iterating over l1 and l2 Simultaneously
for i,j in zip(l1,l2):
    print(i, " = ", j)

# having a even number system (using list comprehension and if)
number_list = [x for x in range(21) if x % 2 ==0]
print(number_list)

# divisiblity of 10 using list comprehensions and nested if
number10 = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(number10)

[12, 5, 4, 6, 3]
Autommobiles  =  12
Honda  =  5
Benz  =  4
Suzuki  =  6
BMW  =  3
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
#Dictionary Comprehension 

d = {i : len(i) for i in l1}
d

input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

#Dictionary Comprehension 
output_dict= {val : val**3 for val in input_list if val % 3 == 0}
output_dict

In [4]:
#Functions 
def factorial(n):
    fact = 1 
    for i in range(1,n+1):
        fact *= i 
    return fact 
factorial(5)
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [4]:
# NumberGrid
grid = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]
print(grid[0][2])
for row in grid:
    print(row)
for row in grid:
    for col in row:
        print(col)

3
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]
1
2
3
4
5
6
7
8
9
0

In [137]:
#Random Module 
import random

random_integer = random.randint(1,10)
print(random_integer)

random_float = random.random()
result = random_float*5
print(result)

love_score = random.randint(1,100)
print(f"Your Love score is {love_score}")

Coin_Toss = random.random()

if(Coin_Toss > 0.5):
    print("Heads")
elif(Coin_Toss < 0.5):
    print("Tails")

8
4.9529470286256405
Your Love score is 7
Tails

In [2]:
a =  ((500//7) % 5) ** 3
print(a)

b = 3*3**3
print(b)

l1 = ['vikas', 'aksah','asdf','asgg']
print(l1[1][-1])

x = 2.5
print(float(int(x)))

1
81
h
2.0

In [4]:
C = [7, 8, 9, 18, 20, 21, 25, 26, 27, 31, 32, 34, 35, 36, 40, 43, 45, 47, 53, 58, 62, 67, 68, 71, 72, 74, 75, 76,
80, 81, 82, 90, 93, 95, 97, 99]
F = [1, 7, 10, 13, 16, 22, 24, 29, 30, 32, 34, 39, 40, 43, 44, 48, 56, 60, 65, 68, 69, 73, 77, 78, 90, 93, 94, 95,
96]
H = [5, 12, 14, 17, 20, 21, 22, 25, 28, 30, 37, 38, 39, 40, 42, 44, 57, 59, 61, 62, 67, 71, 75, 76, 77, 82, 83, 86,
87, 92, 94, 95]

def common_member(C, F, H):
    a_set = set(C)
    b_set = set(F)
    c_set = set(H)
  
    if (a_set & b_set & c_set):
        print(a_set & b_set & c_set)
    else:
        print("No common elements")
common_member(C, F, H)

set_C = set(C)
set_F = set(F)
set_H = set(H)
set_N = []
c_and_h= (set_C.intersection(set_H))

for i in c_and_h:
    if i not in set_F:
        set_N.append(i)

print(sorted(set_N))

set_C = set(C)
set_F = set(F)
set_H = set(H)
set_all =[]
set_all_1 =[]
set_all_2 =[]

c_and_f = (set_C.intersection(set_F))
c_and_H = (set_C.intersection(set_H))
f_and_h = (set_F.intersection(set_H))

for i in c_and_f:
    if i not in c_and_H:
        set_all.append(i)

for i in c_and_h:
    if i not in c_and_f:
        set_all_1.append(i)
        
for i in f_and_h:
    if i not in c_and_h:
        set_all_2.append(i)



final = set_all + set_all_1 + set_all_2

print(len(final))

{40, 95}
[20, 21, 25, 62, 67, 71, 75, 76, 82]
22

In [2]:
netflix = {'The Debt Collector': 1821195, 'Act of Vengeance': 2804479, 'Paradise Lost': 2195477, "Gerald's Game": 3650626, 'Long Shot': 638440, 'Mak Cun': 1010311, 'Our Souls at Night': 3028705, 'Out of Thin Air': 2681938, "Paul Hollywood's Big Continental Road Trip": 230689, 'Satu Hari': 1012350, 'Monster High: Boo York, Boo York': 1526025, 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 2762103, 'Domino': 872663, 'TUNA GIRL': 2574816, '5CM': 2647713, 'Animal World': 220789, 'Hold the Dark': 2307432, 'Lessons from a School Shooting: Notes from Dunblane': 2419534, 'Made in Mexico': 3653712, 'Single': 239278, 'The 3rd Eye': 196138, 'The Sinking Of Van Der Wijck': 2831856, 'Two Catalonias': 1337119, 'Bobby Sands: 66 Days': 2005623, 'Bard of Blood': 744998, 'Deliha 2': 3638900, 'Dragons: Rescue Riders': 3241239, 'In the Shadow of the Moon': 1213329, 'Skylines': 1840094, 'Sturgill Simpson Presents Sound & Fury': 1915540, 'The Politician': 1019394, 'Weeds on Fire': 2273090, 'Much Loved': 3039852, 'Joseph: King of Dreams': 1734449, 'Malaal': 1926128, 'The Grandmaster': 2549410, 'The Inmate': 130965, 'The Hurricane Heist': 2191538, 'Def Comedy Jam 25': 1392697, 'Restless Creature: Wendy Whelan': 2474412, 'Print the Legend': 548250, 'Birders': 3478883, 'Furie': 2755115, 'Leap!': 1401638, 'Oh! Baby (Malayalam)': 839139, 'Oh! Baby (Tamil)': 2691505, 'USS Indianapolis: Men of Courage': 3286014, 'A Wrinkle in Time': 1258861, 'Teach Us All': 2428947, 'White Island': 1152905, 'Inside Man: Most Wanted': 2812661, 'Jeff Dunham: Beside Himself': 2930368, 'China Salesman': 3377292, 'Swearnet: The Movie': 949689, 'The Bar': 620655, 'Manmadhudu 2': 1842761, 'Team Kaylie': 359856, 'Under the Eiffel Tower': 2298237, 'Audrie & Daisy': 1573055, 'Iliza Shlesinger: Confirmed Kills': 365220, 'BONDING': 1664242, 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 2770879, '20 Feet From Stardom': 2931730, 'In Darkness': 3248749, 'Gaga: Five Foot Two': 3719550, 'The Bad Batch': 3656264, 'SMOSH: The Movie': 3697506, 'King of Boys': 584112, 'Merry Men: The Real Yoruba Demons': 2035595, "Sarah's Key": 1337902, 'The Wedding Party 2: Destination Dubai': 1471204, 'Vagabond': 1600432, 'Battlefish': 723021, 'DRAGON PILOT: Hisone & Masotan': 602919, 'Hilda': 54948, 'Maniac': 1348196, 'Quincy': 2601704, 'Rafinha Bastos: Ultimatum': 3469996, 'The Good Cop': 2265521, 'Between Two Ferns: The Movie': 3146508, 'Criminal: France': 2021409, 'Criminal: Germany': 658824, 'Criminal: Spain': 3078634, 'Criminal: UK': 2721398, 'Daddy Issues': 2119035, "Inside Bill's Brain: Decoding Bill Gates": 1755104, 'The Hockey Girls': 2000507, 'Travel Mates 2': 707260, 'True: Tricky Treat Day': 3213199, 'Two Sentence Horror Stories': 2438329, 'Mad World': 2281773, 'Mobile Suit Gundam UC': 778879, 'The Bund': 1729892, 'The First Line': 674591, 'Maynard': 84986, 'Monkey Twins': 3277179, 'Bitcoin Heist': 1450158, 'I Am Not Madame Bovary': 2763830, 'Vincent N Roxxy': 1961810, "Chef's Table: France": 2065738}
netflix_last_week = {'The Debt Collector': 229218, 'Act of Vengeance': 191468, 'Paradise Lost': 167846, "Gerald's Game": 113298, 'Long Shot': 15190, 'Mak Cun': 244581, 'Our Souls at Night': 188095, 'Out of Thin Air': 183961, "Paul Hollywood's Big Continental Road Trip": 207967, 'Satu Hari': 226211, 'Monster High: Boo York, Boo York': 265919, 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 192246, 'Domino': 190538, 'TUNA GIRL': 301819, '5CM': 154371, 'Animal World': 228227, 'Hold the Dark': 222938, 'Lessons from a School Shooting: Notes from Dunblane': 256580, 'Made in Mexico': 199790, 'Single': 155517, 'The 3rd Eye': 251349, 'The Sinking Of Van Der Wijck': 153797, 'Two Catalonias': 189422, 'Bobby Sands: 66 Days': 202461, 'Bard of Blood': 241928, 'Deliha 2': 304552, 'Dragons: Rescue Riders': 155149, 'In the Shadow of the Moon': 222999, 'Skylines': 118737, 'Sturgill Simpson Presents Sound & Fury': 43590, 'The Politician': 11902, 'Weeds on Fire': 243382, 'Much Loved': 190123, 'Joseph: King of Dreams': 46104, 'Malaal': 70961, 'The Grandmaster': 44908, 'The Inmate': 19574, 'The Hurricane Heist': 167696, 'Def Comedy Jam 25': 208075, 'Restless Creature: Wendy Whelan': 22976, 'Print the Legend': 161584, 'Birders': 257668, 'Furie': 282266, 'Leap!': 124338, 'Oh! Baby (Malayalam)': 18203, 'Oh! Baby (Tamil)': 131481, 'USS Indianapolis: Men of Courage': 76558, 'A Wrinkle in Time': 169365, 'Teach Us All': 50378, 'White Island': 299779, 'Inside Man: Most Wanted': 123346, 'Jeff Dunham: Beside Himself': 283561, 'China Salesman': 182041, 'Swearnet: The Movie': 63809, 'The Bar': 41243, 'Manmadhudu 2': 261349, 'Team Kaylie': 101283, 'Under the Eiffel Tower': 83650, 'Audrie & Daisy': 106092, 'Iliza Shlesinger: Confirmed Kills': 255103, 'BONDING': 202683, 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 32329, '20 Feet From Stardom': 165178, 'In Darkness': 95259, 'Gaga: Five Foot Two': 36638, 'The Bad Batch': 197820, 'SMOSH: The Movie': 196519, 'King of Boys': 49332, 'Merry Men: The Real Yoruba Demons': 293229, "Sarah's Key": 178523, 'The Wedding Party 2: Destination Dubai': 51211, 'Vagabond': 116831, 'Battlefish': 5448, 'DRAGON PILOT: Hisone & Masotan': 281873, 'Hilda': 21348, 'Maniac': 268187, 'Quincy': 139696, 'Rafinha Bastos: Ultimatum': 105449, 'The Good Cop': 73230, 'Between Two Ferns: The Movie': 135600, 'Criminal: France': 243469, 'Criminal: Germany': 285211, 'Criminal: Spain': 45184, 'Criminal: UK': 117056, 'Daddy Issues': 267329, "Inside Bill's Brain: Decoding Bill Gates": 64083, 'The Hockey Girls': 114146, 'Travel Mates 2': 21088, 'True: Tricky Treat Day': 116504, 'Two Sentence Horror Stories': 274471, 'Mad World': 225244, 'Mobile Suit Gundam UC': 47306, 'The Bund': 146872, 'The First Line': 148861, 'Maynard': 87252, 'Monkey Twins': 199274, 'Bitcoin Heist': 41105, 'I Am Not Madame Bovary': 57841, 'Vincent N Roxxy': 207453, "Chef's Table: France": 200536}



updated_list = {}
for key in netflix:
    if key in netflix_last_week:
        updated_list[key]=netflix[key]+netflix_last_week[key]

max_views = max(updated_list,key=(lambda x:updated_list[x]))
print(max_views)

Deliha 2

In [7]:
y = 1.25 
x = 20/100 
total = y * 500 * x
print(total)

125.0

In [1]:
#Import tkinter library
from tkinter import *
#Create an instance of Tkinter frame or window
win= Tk()
#Set the geometry of tkinter frame
win.geometry("750x250")
def callback():
   Label(win, text="Hello World!", font=('Century 20 bold')).pack(pady=4)
#Create a Label and a Button widget
btn=Button(win, text="Press Enter", command= callback)
btn.pack(ipadx=10)
win.bind('<Return>',lambda event:callback())
win.mainloop()

In [14]:
def tempfeh_cel(fahrenheit):
    celsius = (fahrenheit - 32) / 1.8
    return '%.2f'%celsius
def tempcel_feh(celsius):
    feh = (celsius * 1.8 ) + 32
    return '%.2f'%feh
print(tempfeh_cel(54))
print(tempcel_feh(47))

12.22
116.60

In [6]:
s = 'a' + 'b'
print(s)

ab